@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@700&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  height: 1200px auto;
  padding-top: 100px;
}

#map {
  height: 850px;
  width: 1200px auto;
}

/* Change the height of map once page reaches the break point */
@media (max-width: 767.98px) {
  #map {
    height: 500px;
    margin-bottom: 15px;
  }
}

#footer {
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.2);
}
